@page "/"
@using System.Net
@using System.Collections.Concurrent
@using System.Text.Json
@using Newtonsoft.Json
@using Runner
@using System.Text.Json.Serialization
@rendermode InteractiveServer



<PageTitle>Home</PageTitle>

<h1>Database Tester</h1>

<h3>Please fill out the folowing inputs:</h3>

<input type="text" placeholder="Ipv4" @bind-value="Ip" @bind-value:event="oninput" />
<input type="text" placeholder="Port" @bind-value="Port" @bind-value:event="oninput" />
<input type="text" placeholder="Database" @bind-value="Database" @bind-value:event="oninput" />
<input type="text" placeholder="Username" @bind-value="Username" @bind-value:event="oninput" />
<input type="password" placeholder="Password" @bind-value="Password" @bind-value:event="oninput" />

<button @onclick="Ok">Test Connection</button>

@if (error != null)
{
    <h4 style="color: red;">@error</h4>
}

<br>

@if (error == "Connection successful")
{
    <p>Users / Calls</p>
    <input type="text" placeholder="Nr of Users" @bind-value="Users" @bind-value:event="oninput" />
    <input type="text" placeholder="Nr of Calls" @bind-value="Calls" @bind-value:event="oninput" />

    <button @onclick="Simulate">Simulate</button>
    <h4 style="color: red;">@error2</h4>
}

@if (error2 == "Simulation finished!")
{
    <table>
        <tr>
            <th>Non-Sargable</th>
            <th></th>
            <th></th>
            <th>Sargable</th>
        </tr>
        <tr>
            <td>
                <p>GetAllFromSpecificStreet: </p>
                <p>GetOrderDetailsFromCustomer: </p>
                <p>CreateNewCustomerWithOrderOfMilkAndBread: </p>
                <p>UpdatePriceOfItem: </p>
                <p>DeleteLastInsertCustomer: </p>
            </td>
            <td>
                <p>@AverageReadNS</p>
                <p>@AverageRead2NS</p>
                <p>@AverageWriteNS</p>
                <p>@AverageUpdateNS</p>
                <p>@AverageDeleteNS</p>
            </td>
            <td>

            </td>
            <td>
                <p>GetAllFromSpecificStreet: </p>
                <p>GetOrderDetailsFromCustomer: </p>
                <p>CreateNewCustomerWithOrderOfMilkAndBread: </p>
                <p>UpdatePriceOfItem: </p>
                <p>DeleteLastInsertCustomer: </p>
            </td>
            <td>
                <p>@AverageReadS</p>
                <p>@AverageRead2S</p>
                <p>@AverageWriteS</p>
                <p>@AverageUpdateS</p>
                <p>@AverageDeleteS</p>
            </td>
        </tr>
    </table>
}

@code {
    public string? Ip { get; set; } = "localhost";
    public string? Port { get; set; } = "1433";
    public string? Database { get; set; } = "DBTester";
    public string? Username { get; set; } = "sa";
    public string? Password { get; set; } = "SuperSecret7!";
    public string? error { get; set; }
    public string? error2 { get; set; }
    public int Users { get; set; }
    public int Calls { get; set; }
    public DbContext dbContext;

    //Non-Sargable
    public float AverageReadNS { get; set; }
    public float AverageRead2NS { get; set; }
    public float AverageWriteNS { get; set; }
    public float AverageUpdateNS { get; set; }
    public float AverageDeleteNS { get; set; }

    //Sargable
    public float AverageReadS { get; set; }
    public float AverageRead2S { get; set; }
    public float AverageWriteS { get; set; }
    public float AverageUpdateS { get; set; }
    public float AverageDeleteS { get; set; }

    public void Ok()
    {
        try
        {
            if (Ip != "localhost")
                Ip = IPAddress.Parse(Ip).ToString();
        }
        catch (Exception)
        {
            error = "The ip is not valid";
            StateHasChanged();
        }
        try
        {
            Port = int.Parse(Port).ToString();
        }
        catch (Exception)
        {
            if (Port != "")
            {
                error = "The port is not valid";
                StateHasChanged();
            }
        }
        if (!string.IsNullOrEmpty(Ip) && !string.IsNullOrEmpty(Port) && !string.IsNullOrEmpty(Database) && !string.IsNullOrEmpty(Username) && !string.IsNullOrEmpty(Password))
        {
            TestConnection();
        }else
        {
            error = "Please fill out all the inputs";
        }
    }

    public void TestConnection()
    {
        error = "Trying to Connect...";
        string connectionString = $"Server={Ip},{Port};Database={Database};User Id={Username};Password={Password};TrustServerCertificate=true;";
        dbContext = new DbContext(connectionString);
        bool success = dbContext.TestConnection();
        if (success)
        {
            error = "Connection successful";
        }
        else
        {
            error = "Connection failed";
        }
    }

    public async void Simulate()
    {
        Runner runner = new Runner(dbContext);
        error2 = "Running simulation...";
        await runner.DDOSAttack(Users, Calls);

        ResolveNonSargableData();
        ResolveSargableData();
        error2 = "Simulation finished!";
        StateHasChanged();
    }

    public void ResolveNonSargableData()
    {
        ConcurrentDictionary<string, float> concurrentDic =  Non_SargableQuery.GetTimes();

        Dictionary<string, float> totalTimes = concurrentDic.ToDictionary(p => p.Key, p => p.Value);
        float averageRead = 0;
        float averageRead2 = 0;
        float averageWrite = 0;
        float averageUpdate = 0;
        float averageDelete = 0;
        int numberOfReads = 0;
        int numberOfReads2 = 0;
        int numberOfWrites = 0;
        int numberOfUpdates = 0;
        int numberOfDeletes = 0;

        foreach (var key in totalTimes.Keys)
        {
            if (key.Contains("GetAllFromSpecificStreet")) 
            {
                averageRead += totalTimes[key];
                numberOfReads++;
            }
            if (key.Contains("GetOrderDetailsFromCustomer"))
            {
                averageRead2 += totalTimes[key];
                numberOfReads2++;
            }
            if (key.Contains("CreateNewCustomerWithOrderOfMilkAndBread"))
            {
                averageWrite += totalTimes[key];
                numberOfWrites++;
            }
            if (key.Contains("UpdatePriceOfItem"))
            {
                averageUpdate += totalTimes[key];
                numberOfUpdates++;
            }
            if (key.Contains("DeleteLastInsertCustomer"))
            {
                averageDelete += totalTimes[key];
                numberOfDeletes++;
            }
            
            
        }
        
        AverageReadNS = averageRead / numberOfReads;
        AverageRead2NS = averageRead2 / numberOfReads2;
        AverageWriteNS = averageWrite / numberOfWrites;
        AverageUpdateNS = averageUpdate / numberOfUpdates;
        AverageDeleteNS = averageDelete / numberOfDeletes;
            
        
    }

    public void ResolveSargableData()
    {
        ConcurrentDictionary<string, float> concurrentDic =  SargableQuery.GetTimes();

        Dictionary<string, float> totalTimes = concurrentDic.ToDictionary(p => p.Key, p => p.Value);
        float averageRead = 0;
        float averageRead2 = 0;
        float averageWrite = 0;
        float averageUpdate = 0;
        float averageDelete = 0;
        int numberOfReads = 0;
        int numberOfReads2 = 0;
        int numberOfWrites = 0;
        int numberOfUpdates = 0;
        int numberOfDeletes = 0;

        foreach (var key in totalTimes.Keys)
        {
            if (key.Contains("GetAllFromSpecificStreet")) 
            {
                averageRead += totalTimes[key];
                numberOfReads++;
            }
            if (key.Contains("GetOrderDetailsFromCustomer"))
            {
                averageRead2 += totalTimes[key];
                numberOfReads2++;
            }
            if (key.Contains("CreateNewCustomerWithOrderOfMilkAndBread"))
            {
                averageWrite += totalTimes[key];
                numberOfWrites++;
            }
            if (key.Contains("UpdatePriceOfItem"))
            {
                averageUpdate += totalTimes[key];
                numberOfUpdates++;
            }
            if (key.Contains("DeleteLastInsertCustomer"))
            {
                averageDelete += totalTimes[key];
                numberOfDeletes++;
            }
            
            
        }

        AverageReadS = averageRead / numberOfReads;
        AverageRead2S = averageRead2 / numberOfReads2;
        AverageWriteS = averageWrite / numberOfWrites;
        AverageUpdateS = averageUpdate / numberOfUpdates;
        AverageDeleteS = averageDelete / numberOfDeletes;
            
    }
}